[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".urxvt/urxvt-resize-font"]
	path = .urxvt/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
